@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #131313;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}



.form__register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;

}

.form__register h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid aqua;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
.form__register p {
    height: 40px;
    text-align: center;
    font-size: 1rem;
    line-height: 40px;
}
  
  .form__register a {
    color: white;
    text-decoration: none;
}
  
  .form__register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form__register .botons {
    width: 100%;
    background: aqua;
    border: none;
    padding: 12px;
    color: black;
    border-radius: 15px;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
  }

  .form__register .botons:hover{
    background: transparent;
    border: 1px solid aqua;
    color: white;
    transition: all.3s ease-in-out;
  }